In [1]:
#1445550099

# sayısının rakamlarının yerleri değiştirilerek dokuz basamaklı kaç farklı çift sayı yazılabilir.

In [2]:
import math

def permütasyon(n, k):
    return math.factorial(n) // math.factorial(n - k)

#n = int(input("Kümenin eleman sayısını girin: "))
#k = int(input("Sıralanacak eleman sayısını girin: "))
#print("Permütasyon sayısı:", permütasyon(n, k))

In [3]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [4]:
result = (7 * factorial(7) *2)/(factorial(2)*factorial(2)*factorial(3)) + (6 * factorial(7) *2)/(factorial(2)*factorial(2)*factorial(3))

In [5]:
print("result of the permutation question  : ", result);

result of the permutation question  :  5460.0

In [ ]:
#Kombinasyon sorusu

# 12 lirası olan bir öğrenci fiyatı 4'er lira olan A, B, C kitapları ve 2'şer lira olan D, E, F, G, H, K  kitaplarından bazılarını seçip alacaktır.

Paranın tamamını seçip harcayacak olan öğrenci kaç farklı seçim yapabilir.

In [ ]:
 #4 (3) 2(6)
 #3      0
# 2      2
 #1      4
# 0      6

In [6]:
#math.comb(n, k)

In [7]:
result = math.comb(3, 3) + math.comb(3, 2)* math.comb(6, 2) + math.comb(3, 1) * math.comb(6, 4) + math.comb(6, 6)

In [8]:
print(result)

92